* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: url('./assets/img/fon.jpg');
    /* width: 100vw;    */
    font-size: 0.525rem;
    
    
}

.container {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    max-height: 38rem;
    margin-bottom: 1%;
    margin-top: 1%;    
    padding: 3em;    
        
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 100em;
    max-height: 100em;
    padding: 1em;    
    box-shadow: 0 0 10em #130378;
    border-radius: 8em;
}



.slider-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.sliders {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slider-img {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.7s;
    opacity: 0;
}

.img {
    display: block;
    max-width: 100%;
    max-height: 88%;    
    border: 0.2em solid #130378;
    box-shadow: 0 0 1.5em #130378;
    border-radius: 1em;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    max-width: 80em;    
    margin: 5em auto;
}

.signature {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 40em;
}

.text {
    flex-shrink: 0;
    text-align: center;    
    width: 100%;    
    padding: 0 0.25em;    
    transition: opacity ease-in-out 0.5s, transform ease-in-out 0.7s;
    opacity: 0;
    color: #130378;
    font-size: 4em; 
}

.navigation {
    display: flex;
    align-self: center;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    margin: 0 0.5em;
    background-color: transparent;       
    cursor: pointer;
}

.label-span {
    width: 2em;
    height: 2em;
    border: 0.1em solid #130378;
    border-radius: 50%;
    transition: all ease-in-out 0.5s;
}

.label:hover .label-span {
    box-shadow: 0 0 0.9em 1.4em #130378;
}

.label:active .label-span {
    background-color: #130378;
    box-shadow: 0 0 0.9em 1.4em #130378;
    border: 0.1em solid #130378;
}

#cntrl_1:checked~.slider-container .span_1,
#cntrl_2:checked~.slider-container .span_2,
#cntrl_3:checked~.slider-container .span_3,
#cntrl_4:checked~.slider-container .span_4{
    background-color: #083595;
}

#cntrl_1:checked~.sliders>.slider-img:nth-child(1),
#cntrl_1:checked~.slider-container .text_1 {
    margin: 0 0 0 5%;
    transform: translate(-5%);    
    opacity: 1;
}

#cntrl_2:checked~.sliders>.slider-img:nth-child(2),
#cntrl_2:checked~.slider-container .text_2 {
    transform: translate(-100%);
    opacity: 1;
}

#cntrl_3:checked~.sliders>.slider-img:nth-child(3),
#cntrl_3:checked~.slider-container .text_3 {
    transform: translate(-200%);
    opacity: 1;
}

#cntrl_4:checked~.sliders>.slider-img:nth-child(4),
#cntrl_4:checked~.slider-container .text_4 {
    transform: translate(-300%);
    opacity: 1;
}

@media (max-width: 767px) {
    .slider-container {
            flex-direction: column-reverse;
            align-items: center;    
        } 
        .img{
            max-height: 89%;
        }  

     #controls-1:checked~.sliders>.slider-img:nth-child(1),
     #controls-1:checked~.slider-container .text_1 {
         transform: translate(-2%);
         margin: 0 0 0 2%;
                }
}

@media (max-width: 550px) {
    .text {
            font-size: 2.9em;
    
        }
}
@media (max-width: 520px) {
    .img {
        width: 80%;
    }
    body{
        font-size: 0.525rem;
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 36em;
        padding: 2em;

    }

        .slider-container{
            width: 30em;
        }
    .signature {
        width: 30em;
                }
}
  

