* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: url('./assets/img/fon.jpg');
    /* width: 100vw;    */
    font-size: 0.525rem;
    
    
}

.container {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    max-height: 45rem;    
    margin-bottom: 1%;
    margin-top: 1%;    
    padding: 3em;    
        
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100em;
    max-height: 100em;
    padding: 1em;    
    box-shadow: 0 0 10em #130378;
    border-radius: 8em;
}



.slider-input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.sliders {
    width: 100%;
    display: flex;
    overflow: hidden;
}


  